<div class="flex items-center justify-start">
  <%= label_tag :departure_date, 'Departure Date', class: "mr-2" %>
  <%#= form.date_field :departure_date, required: true,  class: "max-w-36 rounded" %>  
  <%= date_field_tag :departure_date, nil, required: true, min: @departure_dates.min, max: @departure_dates.max, class: "max-w-36 rounded" %>
</div>