<div class='flash'>
  <div role='alert' class='alert alert-warning'>
    <span><%= alert %></span>
  </div>
  <div role='alert' class='alert alert-info'>
    <span><%= notice %></span>
  </div>
</div>