<% if @show_welcome_modal %>
  <div id="welcome-modal" data-controller="welcome-modal"class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm m-4">
      <h3 class="text-lg font-bold">Welcome to Our Site!</h3>
      <p class="py-4">We hope you enjoy your visit.</p>
      <button data-action="click->welcome-modal#removeModal" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Close
      </button>
    </div>
  </div>
<% end %>  